# String Based Assignment Problem

In [3]:
# 1. Write a program to reverse a string.

s="pwskills"

rs=s[::-1] #reverse string

print(rs) #display the reverse string

sllikswp

In [5]:
# 2. Check if a string is a palindrome.

s=input("enter a string")
reverse_str=s[::-1]
if s==reverse_str :
    print("String is palindrome")
else:
    print("String is Not palindrome")

enter a string deddeadd

String is Not palindrome

In [8]:
# 3. Convert a string to uppercase.

s="pwskills"
upper_s=s.upper()
print(upper_s)

PWSKILLS

In [9]:
# 4. Convert a string to lowercase.

s="PwSkills"
lower_s=s.lower()
print(lower_s)

pwskills

In [13]:
# 5. Count the number of vowels in a string.

s=input("enter a string")
vowel="AEIOUaeiou"
count=0
for char in s:
    if char in vowel:
        count+=1
print(f"number of vowel in string is {count}")

enter a string dfrwaa

number of vowel in string is 2

In [16]:
# 6. Count the number of consonants in a string.

s=input("enter a string")
vowel="AEIOUaeiou"
count=0
for char in s:
    if char not in vowel:
        count+=1
print(f"number of Consonant in string is {count}")

enter a string pwskills

number of Consonant in string is 7

In [17]:
# 7. Remove all whitespaces from a string.

s=input("enter the string")
no_whitespace=s.replace(" ","")
print(f"String after removing whitespace is {no_whitespace}")

enter the string ravi kumar pal

String after removing whitespace is ravikumarpal

In [18]:
# 8. Find the length of a string without using the `len()` function.

s=input("enter the string")
length=0
for i in s:
    length+=1
print(f"length of string is {length}")

enter the string ravi

length of string is 4

In [21]:
# 9. Check if a string contains a specific word.

s=input("enter a string")
specific_s=input("enter specific word")
if specific_s in s:
    print(f"{s} is containing the specific word {specific_s}")

enter a string ravi kumar pal
enter specific word pal

ravi kumar pal is containing the specific word pal

In [23]:
# 10. Replace a word in a string with another word.

s=input("enter a string")
word_to_replace=input("enter the word to replace")
replacement_word=input("enter replacement word")
new_string=s.replace(word_to_replace,replacement_word)
print(new_string)

enter a string this is my book
enter the word to replace book
enter replacement word pen

this is my pen

In [24]:
# 11. Count the occurrences of a word in a string.

s=input("enter the string")
word_to_count=input("enter the word to count")
count=s.lower().count(word_to_count.lower())
print(f"The word '{word_to_count}' appears {count} times in the string.")

enter the string ravi pw skills pw ifh pw
enter the word to count pw

The word 'pw' appears 3 times in the string.

In [25]:
# 12. Find the first occurrence of a word in a string.

input_string = input("Enter a string: ")

# Specify the word to find
word_to_find = input("Enter the word to find: ")

# Use the find() method to find the first occurrence of the word
index = input_string.lower().find(word_to_find.lower())

# Check if the word was found
if index != -1:
    print(f"The word '{word_to_find}' first appears at index {index} in the string.")
else:
    print(f"The word '{word_to_find}' was not found in the string.")

Enter a string:  ravi kumar pal pw skills pw pw
Enter the word to find:  pw

The word 'pw' first appears at index 15 in the string.

In [28]:
# 13. Find the last occurrence of a word in a string.

input_string = input("Enter a string: ")

# Specify the word to find
word_to_find = input("Enter the word to find: ")

# Use the rfind() method to find the last occurrence of the word
index = input_string.lower().rfind(word_to_find.lower())

# Check if the word was found
if index != -1:
    print(f"The word '{word_to_find}' last appears at index {index} in the string.")
else:
    print(f"The word '{word_to_find}' was not found in the string.")

Enter a string:  ravi kumar pal pw skills pw pw
Enter the word to find:  pw

The word 'pw' last appears at index 28 in the string.

In [29]:
# 14. Split a string into a list of words.

# Input a string from the user
input_string = input("Enter a string: ")

# Use the split() method to split the string into words
word_list = input_string.split()

# Print the list of words
print("List of words:",word_list)

Enter a string:  ravi kumar pal

List of words: ['ravi', 'kumar', 'pal']

In [37]:
# 15. Join a list of words into a string.

l=["ravi","kumar","pal"]
seperator=" "

# Use the join() method to join the list of words into a string
joined_string = seperator.join(l)
print("after join the list of word:",joined_string)

after join the list of word: ravi kumar pal

In [39]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

s=input('enter the string')

# use the replace() method for replace the space by undercsores
new_str=s.replace(" ","_")
print(f"{s} after replacing the space to underscore string become : {new_str}")

enter the string ravi kumar pal

ravi kumar pal after replacing the space to underscore string become : ravi_kumar_pal

In [41]:
# 17. Check if a string starts with a specific word or phrase.

input_string = input("Enter a string: ")

# Specify the word or phrase to check for
word_to_check = input("Enter the word or phrase to check at the beginning: ")

# Use the startswith() method to check if the string starts with the specified word or phrase
if input_string.startswith(word_to_check):
    print(f"The string starts with '{word_to_check}'.")
else:
    print(f"The string does not start with '{word_to_check}'.")

Enter a string:  ravi kumar pal
Enter the word or phrase to check at the beginning:  ravi

The string starts with 'ravi'.

In [45]:
# 18. Check if a string ends with a specific word or phrase.


input_string = input("Enter a string: ")

# Specify the word or phrase to check for
word_to_check = input("Enter the word or phrase to check at the ending: ")

# Use the endswith() method to check if the string ends with the specified word or phrase
if input_string.endswith(word_to_check):
    print(f"The ending ends with '{word_to_check}'.")
else:
    print(f"The ending does not end with '{word_to_check}'.")

Enter a string:  ravi kumar pal
Enter the word or phrase to check at the ending:  kumar

The ending does not end with 'kumar'.

In [46]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

input_string=input("enter a string")

title_case_string=input_string.title()

print("String in title case: ",title_case_string)

enter a string hellow world

String in title case:  Hellow World

In [50]:
# 20. Find the longest word in a string.

s=input("enter a string")

# convert the string into list of word
words=s.split()

# initialize the variable
max_length=0
longest_word=""

#finding the longest word
for word in words:
    if len(word)>max_length:
        longest_word=word
        max_length=len(word)
        
print(f" Lingest word in string is {longest_word}")

enter a string ravi kumar pal

 Lingest word in string is kumar

In [53]:
# 21. Find the shortest word in a string.

s=input("enter a string")

# convert the string into list of word
words=s.split()

# initialize the variable
min_length=1000
shortest_word=""

#finding the shortest word
for word in words:
    if len(word)<min_length:
        shortest_word=word
        min_length=len(word)
        
print(f"shortest word in string is {shortest_word}")

enter a string ravi kumatt jiej k

shortest word in string is k

In [55]:
# 22. Reverse the order of words in a string.

s = input("Enter a string: ")

# Split the string into words
words = s.split()

# Reverse the order of words
reversed_words = words[::-1]

# Join the reversed words back into a string
reversed_string = " ".join(reversed_words)

# Print the string with the reversed order of words
print("String with reversed order of words:")
print(reversed_string)

Enter a string:  ravi kumar pal

String with reversed order of words:
pal kumar ravi

In [59]:
# 23. Check if a string is alphanumeric.

# Input a string from the user
s = input("Enter a string: ")

# Check if the string is alphanumeric
if s.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter a string:  rfsfgh89

The string is alphanumeric.

In [60]:
# 24. Extract all digits from a string.

# Input a string from the user
s= input("Enter a string: ")

# Initialize an empty string to store the extracted digits
extracted_digits = ""

# Iterate through the characters of the string and extract digits
for char in s:
    if char.isdigit():
        extracted_digits += char

# Print the extracted digits
print("Extracted digits:", extracted_digits)

Enter a string:  raftsdtye54848h8jk

Extracted digits: 548488

In [61]:
# 25. Extract all alphabets from a string.

s = input("Enter a string: ")

# Initialize an empty string to store the extracted alphabets
extracted_alphabets = ""

# Iterate through the characters of the string and extract alphabets
for char in s:
    if char.isalpha():
        extracted_alphabets += char

# Print the extracted alphabets
print("Extracted alphabets:", extracted_alphabets)

Enter a string:  ravijfhu7767

Extracted alphabets: ravijfhu

In [2]:
# 26. Count the number of uppercase letters in a string.
def count_uppercase_letter(s):
    count=0
    for char in s:
        if char.isupper():
            count+=1
    return count

result = count_uppercase_letter("HELLo World")
print("number of uppercase letter in string is :",result)

number of uppercase letter in string is : 5

In [4]:
# 27. Count the number of lowercase letters in a string.
# 26. Count the number of uppercase letters in a string.
def count_lowercase_letter(s):
    count=0
    for char in s:
        if char.islower():
            count+=1
    return count

result = count_lowercase_letter("HEllo World")
print("number of lowercase letter in string is :",result)

number of lowercase letter in string is : 7

In [6]:
# 28. Swap the case of each character in a string.

def swap_case(s):
    swapped=""
    for i in s:
        if i.isupper():
            swapped+=i.lower()
        elif i.islower():
            swapped+=i.upper()
        else:
            swapped+=i
    return swapped

result = swap_case("Pw Skills")
print(result)

pW sKILLS

In [7]:
# 29. Remove a specific word from a string.
def remove_word(s,word_to_remove):
    return s.replace(word_to_remove,"")

result =remove_word("This is a sample sentence with a word to remove.","remove")
print(result)

This is a sample sentence with a word to .

In [10]:
# 30. Check if a string is a valid email address.

import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(pattern, email))

# Example usage:
email = "example@email.com"
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

example@email.com is a valid email address.

In [11]:
# 31. Extract the username from an email address string.

def extract_username(email):
    # Split the email address at the "@" symbol
    parts = email.split('@')
    
    # Check if there are exactly two parts (username and domain)
    if len(parts) == 2:
        return parts[0]  # The first part is the username
    else:
        return None  # Invalid email format

# Example usage:
email = "example@email.com"
username = extract_username(email)

if username is not None:
    print(f"The username extracted from {email} is: {username}")
else:
    print(f"{email} is not a valid email address.")

The username extracted from example@email.com is: example

In [12]:
# 32. Extract the domain name from an email address string.

def extract_domain(email):
    # Split the email address at the "@" symbol
    parts = email.split('@')
    
    # Check if there are exactly two parts (username and domain)
    if len(parts) == 2:
        return parts[1]  # The second part is the domain
    else:
        return None  # Invalid email format

# Example usage:
email = "example@email.com"
domain = extract_domain(email)

if domain is not None:
    print(f"The domain name extracted from {email} is: {domain}")
else:
    print(f"{email} is not a valid email address.")

The domain name extracted from example@email.com is: email.com

In [16]:
# 33. Replace multiple spaces in a string with a single space.

def replace_multiple_spaces(input_string):
    words = input_string.split()  # Split the string by whitespace
    return ' '.join(words)

# Example usage:
input_string = "This   is   a   string   with   multiple   spaces."
result = replace_multiple_spaces(input_string)
print(result)

This is a string with multiple spaces.

In [18]:
# 34. Check if a string is a valid URL.

def is_valid_url(url):
    # Define a list of valid URL schemes (protocols)
    valid_schemes = ["http", "https", "ftp", "ftps"]
    
    # Split the URL into parts (scheme, netloc, path, etc.)
    parts = url.split("://")
    
    # Check if there are two parts (scheme and the rest)
    if len(parts) == 2:
        scheme, rest = parts
        # Check if the scheme is valid
        if scheme in valid_schemes:
            # Split the rest of the URL into components
            components = rest.split("/")
            # Check if there's at least a domain
            if len(components) >= 1:
                return True
    return False

# Example usage:
url = "https://www.example.com/page"
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.example.com/page is a valid URL.

In [19]:
# 35.Extract the protocol (http or https) from a URL string.

def extract_protocol(url):
    # Split the URL into parts (scheme, netloc, path, etc.)
    parts = url.split("://")
    
    # Check if there are two parts (scheme and the rest)
    if len(parts) == 2:
        return parts[0]  # The first part is the protocol (scheme)
    else:
        return None  # Invalid URL format

# Example usage:
url = "https://www.example.com/page"
protocol = extract_protocol(url)

if protocol is not None:
    print(f"The protocol extracted from {url} is: {protocol}")
else:
    print(f"{url} is not a valid URL.")

The protocol extracted from https://www.example.com/page is: https

In [3]:
# 36. Find the frequency of each character in a string.

def character_freq(s):
    char_count={}
    
    for char in s:
        if char in char_count.keys():
            char_count[char]+=1
        else:
            char_count[char]=1
    return char_count

result=character_freq("pwskills")
print(result)

{'p': 1, 'w': 1, 's': 2, 'k': 1, 'i': 1, 'l': 2}

In [6]:
# 37. Remove all punctuation from a string.

import string

def remove_punctuation(s):
    punctuation_marks=string.punctuation
    
    result=""
    
    for char in s:
        if char not in punctuation_marks:
            result+=char
    return result

result = remove_punctuation("hello!,  world!,,,")
print(result)

hello  world

In [8]:
# 38. Check if a string contains only digits.

def contains_only_digits(s):
    return s.isdigit()
    
s="1234567"
if contains_only_digits(s):
    print(f"{s} contains only digits.")
else:
    print(f"{s} does not contains only digits.")

1234567 contains only digits.

In [10]:
# 39. Check if a string contains only alphabets.

def contains_only_alpha(s):
    return s.isalpha()
    
s="ravikumarpal"
if contains_only_alpha(s):
    print(f"{s} contains only alphabets.")
else:
    print(f"{s} does not contains only alphabets.")

ravikumarpal contains only alphabets.

In [11]:
# 40. Convert a string to a list of characters.

input_string = "Hello, World!"
char_list = [char for char in input_string]
print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [14]:
# 41. Check if two strings are anagrams.

def are_anagrams(str1,str2):
    
    str1=str1.replace(" ","").lower()
    str2=str2.replace(" ","").lower()
    
    if len(str1)!=len(str2):
        return False
    
    char_count1={}
    char_count2={}
    
    for char in str1:
        if char in char_count1:
            char_count1[char]+=1
        else:
            char_count1[char]=1
            
    for char in str2:
        if char in char_count2:
            char_count2+=1
        else:
            char_count2[char]=1
    return char_count1==char_count2

if are_anagrams("listen","silent"):
    print(f"Strings are anagrams")
else:
    print(f"String are not anagrams")

Strings are anagrams

In [1]:
# 42. Encode a string using a Caesar cipher.

def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""
    for char in text:
        if char.isalpha():
            # Determine if the character is uppercase or lowercase
            if char.isupper():
                start = ord('A')
            else:
                start = ord('a')

            # Apply the Caesar cipher shift
            encrypted_char = chr((ord(char) - start + shift) % 26 + start)
            encrypted_text += encrypted_char
        else:
            # If the character is not a letter, keep it unchanged
            encrypted_text += char

    return encrypted_text

# Example usage:
plaintext = "Hello, World!"
shift_value = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift_value)
print("Encrypted:", encrypted_text)

Encrypted: Khoor, Zruog!

In [2]:
# 43. Decode a Caesar cipher encoded string.

def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""
    for char in encrypted_text:
        if char.isalpha():
            # Determine if the character is uppercase or lowercase
            if char.isupper():
                start = ord('A')
            else:
                start = ord('a')

            # Apply the Caesar cipher shift in reverse
            decrypted_char = chr((ord(char) - start - shift) % 26 + start)
            decrypted_text += decrypted_char
        else:
            # If the character is not a letter, keep it unchanged
            decrypted_text += char

    return decrypted_text

# Example usage:
encrypted_text = "Khoor, Zruog!"
shift_value = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift_value)
print("Decrypted:", decrypted_text)

Decrypted: Hello, World!

In [3]:
# 44. Find the most frequent word in a string.

def most_frequent_word(input_string):
    # Remove punctuation and convert the string to lowercase
    cleaned_string = "".join(char.lower() if char.isalnum() or char.isspace() else ' ' for char in input_string)

    # Split the cleaned string into words
    words = cleaned_string.split()

    # Create a dictionary to store word frequencies
    word_freq = {}

    # Count the frequency of each word
    for word in words:
        if word in word_freq:
            word_freq[word] += 1
        else:
            word_freq[word] = 1

    # Find the word with the highest frequency
    most_frequent = max(word_freq, key=word_freq.get)

    return most_frequent

# Example usage:
input_string = "This is a test. This is only a test, my friend."
result = most_frequent_word(input_string)
print(f"The most frequent word is: {result}")

The most frequent word is: this

In [4]:
# 45. Find all unique words in a string.

def unique_words(input_string):
    # Remove punctuation and convert the string to lowercase
    cleaned_string = "".join(char.lower() if char.isalnum() or char.isspace() else ' ' for char in input_string)

    # Split the cleaned string into words
    words = cleaned_string.split()

    # Use a set to store unique words
    unique_word_set = set()

    # Add each word to the set
    for word in words:
        unique_word_set.add(word)

    return unique_word_set

# Example usage:
input_string = "This is a test. This is only a test, my friend."
result = unique_words(input_string)
print("Unique words:", result)

Unique words: {'friend', 'a', 'my', 'this', 'only', 'test', 'is'}

In [5]:
# 46. Count the number of syllables in a string.

def count_syllables(input_string):
    # Remove punctuation and convert the string to lowercase
    cleaned_string = "".join(char.lower() if char.isalnum() or char.isspace() else ' ' for char in input_string)
    
    # Split the cleaned string into words
    words = cleaned_string.split()

    # Define a list of common prefixes and suffixes that might affect syllable count
    prefixes = ['re', 'un', 'pre', 'dis', 'mis', 'over', 'under', 'sub', 'trans', 'super']
    suffixes = ['ing', 'ed', 'es', 'tion', 'sion', 'er', 'ly', 'ment', 'less']

    syllable_count = 0

    for word in words:
        # Initialize a variable to keep track of the number of vowels
        vowel_count = 0

        # Handle cases where common prefixes or suffixes affect syllable count
        for prefix in prefixes:
            if word.startswith(prefix):
                word = word[len(prefix):]
                break

        for suffix in suffixes:
            if word.endswith(suffix):
                word = word[:-len(suffix)]
                break

        # Count vowels (a, e, i, o, u) in the word
        for char in word:
            if char in 'aeiouy':
                vowel_count += 1

        # Each word is assumed to have at least one syllable
        if vowel_count == 0:
            vowel_count = 1

        # Add the vowel count to the total syllable count
        syllable_count += vowel_count

    return syllable_count

# Example usage:
input_string = "The quick brown fox jumped over the lazy dog."
syllables = count_syllables(input_string)
print(f"Number of syllables: {syllables}")

Number of syllables: 11

In [6]:
# 47. Check if a string contains any special characters.

import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\|\/"\'=-]'

    # Use the re.search() function to find a match
    match = re.search(pattern, input_string)

    return match is not None

# Example usage:
input_string = "Hello, World!"
if contains_special_characters(input_string):
    print(f"{input_string} contains special characters.")
else:
    print(f"{input_string} does not contain special characters.")

Hello, World! contains special characters.

In [7]:
# 48. Remove the nth word from a string.

def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()

    # Check if the specified position is valid
    if n >= 1 and n <= len(words):
        # Remove the nth word by slicing the list
        del words[n - 1]

        # Join the remaining words back together
        result_string = ' '.join(words)

        return result_string
    else:
        # Return the original string if the position is invalid
        return input_string

# Example usage:
input_string = "This is a sample sentence."
n = 3
result = remove_nth_word(input_string, n)
print(result)

This is sample sentence.

In [8]:
# 49. Insert a word at the nth position in a string.

def insert_word_at_nth_position(input_string, word_to_insert, n):
    # Split the string into words
    words = input_string.split()

    # Check if the specified position is valid
    if n >= 0 and n <= len(words):
        # Insert the new word at the nth position
        words.insert(n, word_to_insert)

        # Join the words back together
        result_string = ' '.join(words)

        return result_string
    else:
        # If the position is invalid, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence."
word_to_insert = "new"
n = 2
result = insert_word_at_nth_position(input_string, word_to_insert, n)
print(result)

This is new a sample sentence.

In [9]:
# 50. Convert a CSV string to a list of lists.

import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use StringIO to create a file-like object from the CSV string
    csv_file = StringIO(csv_string)

    # Initialize a CSV reader
    reader = csv.reader(csv_file)

    # Convert the CSV data into a list of lists
    data = [row for row in reader]

    return data

# Example usage:
csv_string = "John,Doe,30\nJane,Smith,25\nBob,Johnson,40"
csv_list = csv_string_to_list(csv_string)
for row in csv_list:
    print(row)

['John', 'Doe', '30']
['Jane', 'Smith', '25']
['Bob', 'Johnson', '40']

# List Based Practice Problem:

In [2]:
# 1. Create a list with integers from 1 to 10.

l=[i for i in range(1,11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 2. Find the length of a list without using the `len()` function.

def find_length_of_list(my_list):
    count = 0
    for _ in my_list:
        count += 1
    return count

my_list = [1, 2, 3, 4, 5]
length = find_length_of_list(my_list)
print("Length of the list:", length)

Length of the list: 5

In [4]:
# 3. Append an element to the end of a list.

my_list = [1, 2, 3, 4, 5]  # Example list

# Append an element to the end of the list
my_list.append(6)

print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [5]:
# 4. Insert an element at a specific index in a list.

my_list = [1, 2, 3, 4, 5]  # Example list

# Insert an element (e.g., 6) at index 2
my_list.insert(2, 6)

print(my_list)  # Output: [1, 2, 6, 3, 4, 5]

[1, 2, 6, 3, 4, 5]

In [6]:
# 5. Remove an element from a list by its value.

my_list = [1, 2, 3, 4, 5, 3]  # Example list

# Remove the element with value 3
my_list.remove(3)

print(my_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5, 3]

In [7]:
# 6. Remove an element from a list by its index.

my_list = [1, 2, 3, 4, 5]  # Example list

# Remove the element at index 2
removed_element = my_list.pop(2)

print("Removed Element:", removed_element)
print("Updated List:", my_list)

Removed Element: 3
Updated List: [1, 2, 4, 5]

In [8]:
# 7. Check if an element exists in a list.

my_list = [1, 2, 3, 4, 5]  # Example list

# Check if element 3 exists in the list
if 3 in my_list:
    print("Element 3 exists in the list.")
else:
    print("Element 3 does not exist in the list.")

Element 3 exists in the list.

In [9]:
# 8. Find the index of the first occurrence of an element in a list.

my_list = [1, 2, 3, 4, 5, 3]  # Example list

# Find the index of the first occurrence of the element 3
element_to_find = 3
index = my_list.index(element_to_find)

print(f"Index of the first occurrence of {element_to_find}: {index}")

Index of the first occurrence of 3: 2

In [10]:
# 9. Count the occurrences of an element in a list.

my_list = [1, 2, 3, 4, 5, 3, 3]  # Example list

# Count the occurrences of the element 3
element_to_count = 3
count = my_list.count(element_to_count)

print(f"Occurrences of {element_to_count} in the list: {count}")

Occurrences of 3 in the list: 3

In [11]:
# 10. Reverse the order of elements in a list.

my_list = [1, 2, 3, 4, 5]  # Example list

# Reverse the order of elements using slicing
my_list = my_list[::-1]

print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [12]:
# 11. Sort a list in ascending order.

my_list = [5, 2, 9, 1, 6]  # Example list

# Sort the list in ascending order using the sort() method
my_list.sort()

print(my_list)  # Output: [1, 2, 5, 6, 9]

[1, 2, 5, 6, 9]

In [13]:
# 12. Sort a list in descending order.

my_list = [5, 2, 9, 1, 6]  # Example list

# Sort the list in descending order using the sort() method
my_list.sort(reverse=True)

print(my_list)  # Output: [9, 6, 5, 2, 1]

[9, 6, 5, 2, 1]

In [14]:
# 13. Create a list of even numbers from 1 to 20.

# Create a list of even numbers from 1 to 20 using list comprehension
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
# 14. Create a list of odd numbers from 1 to 20.

# Create a list of odd numbers from 1 to 20 using list comprehension
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
# 15. Find the sum of all elements in a list.

my_list = [1, 2, 3, 4, 5]  # Example list

# Find the sum of all elements in the list using the sum() function
total_sum = sum(my_list)

print(total_sum)

15

In [18]:
# 16. Find the maximum value in a list.

my_list = [3, 8, 1, 9, 4]  # Example list

# Find the maximum value in the list using the max() function
max_value = max(my_list)

print(max_value)

9

In [19]:
# 17. Find the minimum value in a list.

my_list = [3, 8, 1, 9, 4]  # Example list

# Find the munimum value in the list using the max() function
min_value = min(my_list)

print(min_value)

1

In [20]:
# 18. Create a list of squares of numbers from 1 to 10.

my_list=[i**2 for i in range(1,11)]
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
# 19. Create a list of random numbers.

import random

# Create a list of 10 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(10)]

print(random_numbers)

[98, 99, 11, 74, 97, 82, 5, 94, 44, 1]

In [22]:
# 20. Remove duplicates from a list.

my_list = [1, 2, 2, 3, 4, 4, 5]  # Example list with duplicates

# Remove duplicates while preserving the original order
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 2, 3, 4, 5]

In [23]:
# 21. Find the common elements between two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find common elements using list comprehension
common_elements = [element for element in list1 if element in list2]

print(common_elements)

[3, 4, 5]

In [24]:
# 22. Find the difference between two lists.

list1 = [1, 2,3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find elements in list1 that are not in list2
difference = [element for element in list1 if element not in list2]

print(difference)

[1, 2]

In [25]:
# 23. Merge two lists.

list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge list2 into list1 using the extend() method
list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6]

In [26]:
# 24. Multiply all elements in a list by 2.

my_list = [1, 2, 3, 4, 5]

# Multiply all elements in the list by 2 using a list comprehension
my_list = [x * 2 for x in my_list]

print(my_list)

[2, 4, 6, 8, 10]

In [27]:
# 25. Filter out all even numbers from a list.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers using a list comprehension
even_numbers = [x for x in my_list if x % 2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10]

In [28]:
# 26. Convert a list of strings to a list of integers.

string_list = ["1", "2", "3", "4", "5"]

# Convert the list of strings to a list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

print(integer_list)

[1, 2, 3, 4, 5]

In [29]:
# 27. Convert a list of integers to a list of strings.

integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

print(string_list)

['1', '2', '3', '4', '5']

In [30]:
# 28. Flatten a nested list.

def flatten_list(nested_list):
    flattened_list = []
    for element in nested_list:
        if isinstance(element, list):
            flattened_list.extend(flatten_list(element))
        else:
            flattened_list.append(element)
    return flattened_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]

# Flatten the nested list using a recursive function
flattened_list = flatten_list(nested_list)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7]

In [31]:
# 29. Create a list of the first 10 Fibonacci numbers.

# Function to generate the first 10 Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)
    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_sequence = generate_fibonacci(10)

print(fibonacci_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [32]:
# 30. Check if a list is sorted.

# Function to check if a list is sorted
def is_sorted(input_list):
    return input_list == sorted(input_list)

# Test cases
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]

# Check if list1 is sorted
print(is_sorted(list1))  # True

# Check if list2 is sorted
print(is_sorted(list2))  # False

True
False

In [33]:
# 31. Rotate a list to the left by `n` positions.

def rotate_left(lst, n):
    if not lst:
        return lst  # If the list is empty, no rotation needed
    n %= len(lst)  # Ensure n is within the length of the list
    return lst[n:] + lst[:n]

# Test cases
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
rotated_list = rotate_left(original_list, 2)
print(rotated_list)  # Output: [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

In [35]:
# 32. Rotate a list to the right by `n` positions.

def rotate_right(lst, n):
    if not lst:
        return lst  # If the list is empty, no rotation needed
    n %= len(lst)  # Ensure n is within the length of the list
    return lst[len(lst)-n:] + lst[:len(lst)-n]

# Test cases
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
rotated_list = rotate_right(original_list, 3)
print(rotated_list)  # Output: [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

In [36]:
# 33. Create a list of prime numbers up to 50.

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Generate a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [40]:
# 34. Split a list into chunks of size `n`.

def split_into_chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

# Test case
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
chunked_list = list(split_into_chunks(original_list, 3))

print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [41]:
# 35. Find the second largest number in a list.

def find_second_largest(numbers):
    # Check if the list has at least two elements
    if len(numbers) < 2:
        return "List should have at least two elements"

    # Sort the list in descending order
    sorted_numbers = sorted(numbers, reverse=True)

    # The second largest number is at index 1 of the sorted list
    second_largest = sorted_numbers[1]

    return second_largest

# Example list
my_list = [10, 5, 8, 20, 15]

# Find the second largest number
result = find_second_largest(my_list)

print("The second largest number is:", result)

The second largest number is: 15

In [42]:
# 36. Replace every element in a list with its square.

def square_elements(input_list):
    squared_list = [x ** 2 for x in input_list]
    return squared_list

# Example list
my_list = [1, 2, 3, 4, 5]

# Replace elements with their squares
result = square_elements(my_list)

print("Original list:", my_list)
print("List with squared elements:", result)

Original list: [1, 2, 3, 4, 5]
List with squared elements: [1, 4, 9, 16, 25]

In [43]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

def list_to_dictionary(input_list):
    # Using a dictionary comprehension to create the dictionary
    result_dict = {value: index for index, value in enumerate(input_list)}
    return result_dict

# Example list
my_list = ['apple', 'banana', 'cherry', 'date']

# Convert the list to a dictionary
result = list_to_dictionary(my_list)

print("Original list:", my_list)
print("Dictionary with list elements as keys and indices as values:", result)

Original list: ['apple', 'banana', 'cherry', 'date']
Dictionary with list elements as keys and indices as values: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [48]:
# 38. Shuffle the elements of a list randomly.

import random

def shuffle_list(input_list):
    # Shuffle the list in place using random.shuffle()
    random.shuffle(input_list)

# Example list
my_list = [1, 2, 3, 4, 5]

# Shuffle the elements of the list
shuffle_list(my_list)

print("Shuffled list:", my_list)

Shuffled list: [3, 5, 4, 1, 2]

In [49]:
# 39. Create a list of the first 10 factorial numbers.

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_list = [factorial(i) for i in range(10)]

print("First 10 factorial numbers:", factorial_list)

First 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [50]:
# 40. Check if two lists have at least one element in common.

def have_common_element(list1, list2):
    # Convert the lists to sets
    set1 = set(list1)
    set2 = set(list2)

    # Check if there's at least one common element
    if set1.intersection(set2):
        return True
    else:
        return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one common element
result = have_common_element(list1, list2)

if result:
    print("The two lists have at least one common element.")
else:
    print("The two lists do not have any common elements.")

The two lists have at least one common element.

In [51]:
# 41. Remove all elements from a list.

my_list = [1, 2, 3, 4, 5]
my_list.clear()

In [52]:
# 42. Replace negative numbers in a list with 0.

my_list = [1, -2, 3, -4, 5, -6]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print(my_list)

[1, 0, 3, 0, 5, 0]

In [53]:
# 43. Convert a string into a list of words.

text = "This is a sample sentence."

# Use split() to convert the string into a list of words
word_list = text.split()

# Print the list of words
print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

In [54]:
# 44. Convert a list of words into a string.

word_list = ['This', 'is', 'a', 'list', 'of', 'words']

# Use join() to convert the list of words into a string
text = ' '.join(word_list)

# Print the resulting string
print(text)

This is a list of words

In [55]:
# 45. Create a list of the first `n` powers of 2.

n = 5  # Change this to the desired number of powers of 2
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

In [56]:
# 46. Find the longest string in a list of strings.

string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Use the max() function with a custom key function to find the longest string
longest_string = max(string_list, key=len)

# Print the longest string
print(longest_string)

elderberry

In [57]:
# 47. Find the shortest string in a list of strings.

string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Use the min() function with a custom key function to find the shortest string
shortest_string = min(string_list, key=len)

# Print the shortest string
print(shortest_string)

date

In [58]:
# 48. Create a list of the first `n` triangular numbers.

def generate_triangular_numbers(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        # Calculate the i-th triangular number and append it to the list
        triangular_number = (i * (i + 1)) // 2
        triangular_numbers.append(triangular_number)
    return triangular_numbers

# Specify the value of n
n = 10

# Generate the first n triangular numbers
triangular_numbers = generate_triangular_numbers(n)

# Print the list of triangular numbers
print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [59]:
# 49. Check if a list contains another list as a subsequence.

def is_subsequence(subsequence, sequence):
    # Initialize pointers for both lists
    sub_idx = 0
    seq_idx = 0

    # Iterate through the sequence list
    while seq_idx < len(sequence):
        # If the current elements match, move the subsequence pointer
        if subsequence[sub_idx] == sequence[seq_idx]:
            sub_idx += 1

            # If we have reached the end of the subsequence, it is a subsequence
            if sub_idx == len(subsequence):
                return True
        
        # Move the sequence pointer
        seq_idx += 1

    # If we reach the end of the sequence without finding the subsequence, it's not a subsequence
    return False

# Example usage
sequence = [1, 2, 3, 4, 5, 6]
subsequence = [2, 4, 6]

# Check if subsequence is a subsequence of sequence
result = is_subsequence(subsequence, sequence)

if result:
    print("Yes, subsequence is a subsequence of sequence.")
else:
    print("No, subsequence is not a subsequence of sequence.")

Yes, subsequence is a subsequence of sequence.

In [60]:
# 50. Swap two elements in a list by their indices.

def swap_elements(lst, index1, index2):
    # Check if the indices are valid
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Swap the elements at the specified indices
        lst[index1], lst[index2] = lst[index2], lst[index1]

# Example usage
my_list = [1, 2, 3, 4, 5]

# Swap elements at index 1 and index 3
swap_elements(my_list, 1, 3)

# Print the list after swapping
print(my_list)

[1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

In [61]:
# 1. Create a tuple with integers from 1 to 5.

my_tuple = (1, 2, 3, 4, 5)

In [62]:
#2. Access the third element of a tuple.

my_tuple = (1, 2, 3, 4, 5)

# Access the third element (index 2)
third_element = my_tuple[2]

print(third_element)

3

In [63]:
# 3. Find the length of a tuple without using the `len()` function.

my_tuple = (1, 2, 3, 4, 5)

# Initialize a count variable to 0
count = 0

# Iterate through the tuple and count the elements
for _ in my_tuple:
    count += 1

# The 'count' variable now holds the length of the tuple
print(count)

5

In [64]:
# 4. Count the occurrences of an element in a tuple.

my_tuple = (1, 2, 2, 3, 4, 2, 5)

# Count the occurrences of the element '2'
count = my_tuple.count(2)

print(count)

3

In [65]:
# 5. Find the index of the first occurrence of an element in a tuple.

my_tuple = (1, 2, 3, 4, 2, 5)

# Find the index of the first occurrence of '2'
index = my_tuple.index(2)

print(index)

1

In [66]:
# 6. Check if an element exists in a tuple.

my_tuple = (1, 2, 3, 4, 5)

# Element to check
element_to_check = 3

# Check if the element exists in the tuple
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

In [67]:
# 7. Convert a tuple to a list.

my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

print(my_list)

[1, 2, 3, 4, 5]

In [68]:
# 8. Convert a list to a tuple.

my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

print(my_tuple)

(1, 2, 3, 4, 5)

In [69]:
# 9. Unpack the elements of a tuple into variables.

my_tuple = (1, 2, 3)

# Unpack the tuple into variables
var1, var2, var3 = my_tuple

print(var1)
print(var2)
print(var3)

1
2
3

In [70]:
# 10. Create a tuple of even numbers from 1 to 10.

# Create a tuple of even numbers from 1 to 10
even_numbers_tuple = tuple(x for x in range(2, 11, 2))

print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [71]:
# 11. Create a tuple of odd numbers from 1 to 10.

# Create a tuple of odd numbers from 1 to 10
odd_numbers_tuple = tuple(x for x in range(1, 11) if x % 2 != 0)

print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [72]:
# 12. Concatenate two tuples.

# Two tuples to concatenate
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [73]:
# 13. Repeat a tuple three times.

# Original tuple
original_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = original_tuple * 3

print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [74]:
# 14. Check if a tuple is empty.

# Empty tuple
empty_tuple = ()

# Check if the tuple is empty
if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [75]:
# 15. Create a nested tuple.

# Creating a nested tuple
nested_tuple = (1, 2, (3, 4), (5, 6, (7, 8)))

In [76]:
# 16. Access the first element of a nested tuple.

# Creating a nested tuple
nested_tuple = (1, 2, (3, 4), (5, 6, (7, 8)))

# Accessing the first element of the nested tuple
first_element = nested_tuple[0]

# Printing the result
print(first_element)

1

In [77]:
# 17. Create a tuple with a single element.

# Creating a tuple with a single element
single_element_tuple = (42,)

# Checking the type and printing the result
print(type(single_element_tuple))

<class 'tuple'>

In [78]:
# 18. Compare two tuples.

# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare if two tuples are equal
print(tuple1 == tuple2)  # False

# Compare if two tuples are not equal
print(tuple1 != tuple2)  # True

# Compare if the first tuple is less than the second tuple
print(tuple1 < tuple2)   # True (element-wise comparison)

# Compare if the first tuple is greater than the second tuple
print(tuple1 > tuple2)   # False (element-wise comparison)

# Compare if the first tuple is less than or equal to the second tuple
print(tuple1 <= tuple2)  # True (element-wise comparison)

# Compare if the first tuple is greater than or equal to the second tuple
print(tuple1 >= tuple2)  # False (element-wise comparison)

False
True
True
False
True
False

In [79]:
# 19. Delete a tuple.

# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Delete the entire tuple
del my_tuple

In [80]:
# 20. Slice a tuple.

# Create a tuple
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]

# Print the sliced tuple
print(sliced_tuple)  # Output will be (2, 3, 4)

(2, 3, 4)

In [81]:
# 21. Find the maximum value in a tuple.

# Create a tuple
my_tuple = (3, 7, 1, 9, 4, 6, 8, 2, 5)

# Find the maximum value in the tuple
max_value = max(my_tuple)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 9

In [82]:
# 22. Find the minimum value in a tuple.

# Create a tuple
my_tuple = (3, 7, 1, 9, 4, 6, 8, 2, 5)

# Find the minimum value in the tuple
min_value = min(my_tuple)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 1

In [83]:
# 23. Convert a string to a tuple of characters.

# Input string
input_string = "Hello, World!"

# Convert the string to a tuple of characters using a list comprehension
char_tuple = tuple(char for char in input_string)

# Print the tuple
print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [84]:
# 24. Convert a tuple of characters to a string.

# Tuple of characters
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple to a string
result_string = ''.join(char_tuple)

# Print the resulting string
print(result_string)

Hello, World!

In [85]:
# 25. Create a tuple from multiple data types.

# Create a tuple with elements of different data types
mixed_tuple = (42, "hello", 3.14, True, [1, 2, 3])

# Print the mixed tuple
print(mixed_tuple)

(42, 'hello', 3.14, True, [1, 2, 3])

In [86]:
# 26. Check if two tuples are identical.

# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the two tuples are identical
if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

In [87]:
# 27. Sort the elements of a tuple.

# Define a tuple
my_tuple = (4, 2, 7, 1, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Sort the list
my_list.sort()

# Convert the sorted list back to a tuple
sorted_tuple = tuple(my_list)

# Display the sorted tuple
print(sorted_tuple)

(1, 2, 4, 5, 7)

In [88]:
# 28. Convert a tuple of integers to a tuple of strings.

# Define a tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
str_tuple = tuple(str(x) for x in int_tuple)

# Display the tuple of strings
print(str_tuple)

('1', '2', '3', '4', '5')

In [89]:
# 29. Convert a tuple of strings to a tuple of integers.

# Define a tuple of strings
str_tuple = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
int_tuple = tuple(int(x) for x in str_tuple)

# Display the tuple of integers
print(int_tuple)

(1, 2, 3, 4, 5)

In [90]:
# 30. Merge two tuples.

# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

# Display the merged tuple
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [91]:
# 31. Flatten a nested tuple.

def flatten_nested_tuple(nested_tuple):
    flattened = ()
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened += flatten_nested_tuple(item)
        else:
            flattened += (item,)
    return flattened

# Example usage:
nested_tuple = ((1, 2), (3, (4, 5)), 6)
flattened_tuple = flatten_nested_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

In [92]:
# 32. Create a tuple of the first 5 prime numbers.

prime_numbers = (2, 3, 5, 7, 11)

In [93]:
# 33. Check if a tuple is a palindrome.

def is_palindrome_tuple(t):
    return t == t[::-1]

# Example usage:
my_tuple = (1, 2, 3, 2, 1)
result = is_palindrome_tuple(my_tuple)

if result:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [94]:
# 34. Create a tuple of squares of numbers from 1 to 5.

squares_tuple = tuple(x ** 2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

In [95]:
# 35. Filter out all even numbers from a tuple.

original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

even_numbers_tuple = tuple(x for x in original_tuple if x % 2 == 0)

print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [96]:
# 36. Multiply all elements in a tuple by 2.

original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(x * 2 for x in original_tuple)

print(doubled_tuple)

(2, 4, 6, 8, 10)

In [97]:
# 37. Create a tuple of random numbers.

import random

# Define the range and the number of random numbers
start_range = 1
end_range = 100
num_of_numbers = 5  # You can change this to the desired number of random numbers

# Generate a tuple of random integers
random_numbers = tuple(random.randint(start_range, end_range) for _ in range(num_of_numbers))

print(random_numbers)

(34, 14, 1, 85, 27)

In [98]:
# 38. Check if a tuple is sorted.

def is_sorted(t):
    # Use the sorted() function to create a sorted version of the tuple
    sorted_t = tuple(sorted(t))
    
    # Compare the sorted tuple with the original tuple
    if sorted_t == t:
        return True
    else:
        return False

# Test cases
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)
tuple3 = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

print(is_sorted(tuple1))  # True
print(is_sorted(tuple2))  # False
print(is_sorted(tuple3))  # False

True
False
False

In [99]:
# 39. Rotate a tuple to the left by `n` positions.

def rotate_left_tuple(t, n):
    # Calculate the effective rotation position within the length of the tuple
    n = n % len(t)
    
    # Slice the original tuple to create a rotated tuple
    rotated_tuple = t[n:] + t[:n]
    
    return rotated_tuple

# Test case
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_left_tuple(original_tuple, 2)
print(rotated_tuple)  # Output: (3, 4, 5, 1, 2)

(3, 4, 5, 1, 2)

In [100]:
# 40. Rotate a tuple to the right by `n` positions.

def rotate_right_tuple(t, n):
    # Calculate the effective rotation position within the length of the tuple
    n = n % len(t)
    
    # Slice the original tuple in reverse order to create a rotated tuple
    rotated_tuple = t[-n:] + t[:-n]
    
    return rotated_tuple

# Test case
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_right_tuple(original_tuple, 2)
print(rotated_tuple)  # Output: (4, 5, 1, 2, 3)

(4, 5, 1, 2, 3)

In [1]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

# Function to generate Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)

# Create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [2]:
# 42. Create a tuple from user input.

# Take user input fr elements of the tuple
input_values = input("Enter elements separated by spaces: ")

# Split the input values and convert them into a tuple
user_tuple = tuple(input_values.split())

# Print the resulting tuple
print("Tuple created from user input:", user_tuple)

Enter elements separated by spaces:  ravi kumar pal

Tuple created from user input: ('ravi', 'kumar', 'pal')

In [3]:
# 43. Swap two elements in a tuple.

# Sample tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Swap elements at positions 1 and 3 (0-based index)
my_list[1], my_list[3] = my_list[3], my_list[1]

# Convert the list back to a tuple
my_swapped_tuple = tuple(my_list)

# Print the swapped tuple
print("Swapped Tuple:", my_swapped_tuple)

Swapped Tuple: (1, 4, 3, 2, 5)

In [4]:
# 44. Reverse the elements of a tuple.

# Sample tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements and create a new tuple
reversed_tuple = tuple(reversed(my_tuple))

# Print the reversed tuple
print("Reversed Tuple:", reversed_tuple)

Reversed Tuple: (5, 4, 3, 2, 1)

In [5]:
# 45. Create a tuple of the first `n` powers of 2.

# Define the value of n
n = 5

# Create a tuple of the first n powers of 2
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple
print("Powers of 2 Tuple:", powers_of_2_tuple)

Powers of 2 Tuple: (1, 2, 4, 8, 16)

In [6]:
# 46. Find the longest string in a tuple of strings.

# Define a tuple of strings
tuple_of_strings = ("apple", "banana", "cherry", "date", "elderberry")

# Find the longest string in the tuple
longest_string = max(tuple_of_strings, key=len)

# Print the longest string
print("Longest String:", longest_string)

Longest String: elderberry

In [7]:
# 47. Find the shortest string in a tuple of strings.

# Define a tuple of strings
tuple_of_strings = ("apple", "banana", "cherry", "date", "elderberry")

# Find the shortest string in the tuple
shortest_string = min(tuple_of_strings, key=len)

# Print the shortest string
print("Shortest String:", shortest_string)

Shortest String: date

In [8]:
# 48. Create a tuple of the first `n` triangular numbers.

# Function to calculate the nth triangular number
def triangular_number(n):
    return n * (n + 1) // 2

# Number of triangular numbers to generate
n = 5

# Create a tuple of the first n triangular numbers
triangular_numbers = tuple(triangular_number(i) for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of Triangular Numbers:", triangular_numbers)

Tuple of Triangular Numbers: (1, 3, 6, 10, 15)

In [9]:
# 49. Check if a tuple contains another tuple as a subsequence.

def contains_subsequence(main_tuple, sub_tuple):
    main_len = len(main_tuple)
    sub_len = len(sub_tuple)
    i = 0  # Index for main_tuple
    j = 0  # Index for sub_tuple

    while i < main_len and j < sub_len:
        if main_tuple[i] == sub_tuple[j]:
            j += 1
        i += 1

    # If j has reached the end of sub_tuple, it's a subsequence
    return j == sub_len

# Example usage
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)

if contains_subsequence(main_tuple, sub_tuple):
    print("The sub_tuple is a subsequence of main_tuple.")
else:
    print("The sub_tuple is not a subsequence of main_tuple.")

The sub_tuple is a subsequence of main_tuple.

In [10]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

def alternating_ones_and_zeros(n):
    result = ()
    for i in range(n):
        if i % 2 == 0:
            result += (0,)
        else:
            result += (1,)
    return result

# Example usage
n = 10
result_tuple = alternating_ones_and_zeros(n)
print(result_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

In [11]:
# 1. Create a set with integers from 1 to 5.

my_set = {1, 2, 3, 4, 5}

In [12]:
# 2. Add an element to a set.

my_set = {1, 2, 3, 4, 5}
my_set.add(6)  # Adding the element 6 to the set

In [13]:
# 3. Remove an element from a set.

my_set = {1, 2, 3, 4, 5}
my_set.remove(3)  # Removes the element 3 from the set

In [14]:
# 4. Check if an element exists in a set.

my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [15]:
# 5. Find the length of a set without using the `len()` function.

my_set = {1, 2, 3, 4, 5}

# Initialize a counter variable
length = 0

# Iterate through the set and count its elements
for _ in my_set:
    length += 1

print(f"The length of the set is: {length}")

The length of the set is: 5

In [16]:
# 6. Clear all elements from a set.

my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

print("Set after clearing:", my_set)

Set after clearing: set()

In [17]:
# 7. Create a set of even numbers from 1 to 10.

# Create a set of even numbers from 1 to 10
even_numbers = {x for x in range(1, 11) if x % 2 == 0}

print(even_numbers)

{2, 4, 6, 8, 10}

In [18]:
# 8. Create a set of odd numbers from 1 to 10.

# Create a set of odd numbers from 1 to 10
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}

print(odd_numbers)

{1, 3, 5, 7, 9}

In [19]:
# 9. Find the union of two sets.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the union of set1 and set2 using the | operator
union_set = set1 | set2

print(union_set)

{1, 2, 3, 4, 5, 6, 7}

In [22]:
# 10. Find the intersection of two sets.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection of set1 and set2 using the & operator
intersection_set = set1 & set2

print(intersection_set)

{3, 4, 5}

In [23]:
# 11. Find the difference between two sets.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between set1 and set2 using the - operator
difference_set = set1 - set2

print(difference_set)

{1, 2}

In [24]:
# 12. Check if a set is a subset of another set.

# Create two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2 using the <= operator
is_subset = set1 <= set2

print(is_subset)

True

In [25]:
# 13. Check if a set is a superset of another set.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2 using the >= operator
is_superset = set1 >= set2

print(is_superset)

True

In [26]:
# 14. Create a set from a list.

# Create a list
my_list = [1, 2, 3, 4, 5]

# Convert the list to a set
my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

In [27]:
# 15. Convert a set to a list.

# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list = list(my_set)

print(my_list)

[1, 2, 3, 4, 5]

In [28]:
# 16. Remove a random element from a set.

# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element
random_element = my_set.pop()

print(f"Removed element: {random_element}")
print(f"Updated set: {my_set}")

Removed element: 1
Updated set: {2, 3, 4, 5}

In [29]:
# 17. Pop an element from a set.

# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element
popped_element = my_set.pop()

print(f"Popped element: {popped_element}")
print(f"Updated set: {my_set}")

Popped element: 1
Updated set: {2, 3, 4, 5}

In [31]:
# 18. Check if two sets have no elements in common.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the sets are disjoint (have no elements in common)
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets are disjoint (have no elements in common)")
else:
    print("The sets have elements in common")

The sets are disjoint (have no elements in common)

In [32]:
# 19. Find the symmetric difference between two sets.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference
symmetric_diff = set1 ^ set2

print(symmetric_diff)

{1, 2, 3, 6, 7, 8}

In [33]:
# 20. Update a set with elements from another set.

# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

print(set1)

{1, 2, 3, 4, 5}

In [34]:
# 21. Create a set of the first 5 prime numbers.

# Create a set of the first 5 prime numbers
prime_numbers = {2, 3, 5, 7, 11}

print(prime_numbers)

{2, 3, 5, 7, 11}

In [35]:
# 22. Check if two sets are identical.

# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets are identical
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [36]:
# 23. Create a frozen set.

# Create a regular set
my_set = {1, 2, 3, 4, 5}

# Convert the regular set to a frozen set
frozen_set = frozenset(my_set)

# Display the frozen set
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [37]:
# 24. Check if a set is disjoint with another set.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the sets are disjoint
disjoint = set1.isdisjoint(set2)

# Display the result
if disjoint:
    print("The sets are disjoint.")
else:
    print("The sets have some common elements.")

The sets are disjoint.

In [38]:
# 25. Create a set of squares of numbers from 1 to 5.

# Create a set of squares using set comprehension
squares_set = {x ** 2 for x in range(1, 6)}

# Display the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [39]:
# 26. Filter out all even numbers from a set.

# Create a set with some numbers
numbers_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Use set comprehension to filter out even numbers
even_numbers_set = {x for x in numbers_set if x % 2 == 0}

# Display the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [40]:
# 27. Multiply all elements in a set by 2.

# Create a set with some numbers
numbers_set = {1, 2, 3, 4, 5}

# Convert the set to a list
numbers_list = list(numbers_set)

# Multiply all elements in the list by 2
doubled_numbers_list = [x * 2 for x in numbers_list]

# Create a new set from the modified list
doubled_numbers_set = set(doubled_numbers_list)

# Display the doubled_numbers_set
print(doubled_numbers_set)

{2, 4, 6, 8, 10}

In [41]:
# 28. Create a set of random numbers.

import random

# Generate a set of 5 random integers between 1 and 100 (inclusive)
random_numbers_set = set(random.sample(range(1, 101), 5))

# Display the random numbers set
print(random_numbers_set)

{100, 38, 46, 14, 83}

In [42]:
# 29. Check if a set is empty.

# Create an empty set
empty_set = set()

# Check if the set is empty
if not empty_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [43]:
# 30. Create a nested set (hint: use frozenset).

# Create a nested set using frozenset
nested_set = frozenset({frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7})})

# Print the nested set
print(nested_set)

frozenset({frozenset({3, 4, 5}), frozenset({6, 7}), frozenset({1, 2})})

In [44]:
# 31. Remove an element from a set using the discard method.

# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element using discard
my_set.discard(3)

# Print the updated set
print(my_set)

{1, 2, 4, 5}

In [45]:
# 32. Compare two sets.

set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("Sets are equal")
else:
    print("Sets are not equal")

Sets are equal

In [46]:
# 33. Create a set from a string.

# Create an empty set
char_set = set()

# Your input string
input_string = "Python"

# Iterate over the characters in the string and add them to the set
for char in input_string:
    char_set.add(char)

print(char_set)

{'y', 'n', 'h', 'o', 'P', 't'}

In [47]:
# 34. Convert a set of strings to a set of integers.

# Create a set of strings
string_set = {"1", "2", "3", "4", "5"}

# Create an empty set for integers
int_set = set()

# Iterate over the elements in the string set and convert them to integers
for element in string_set:
    int_set.add(int(element))

print(int_set)

{1, 2, 3, 4, 5}

In [48]:
# 35. Convert a set of integers to a set of strings.

# Create a set of integers
int_set = {1, 2, 3, 4, 5}

# Create an empty set for strings
string_set = set()

# Iterate over the elements in the integer set and convert them to strings
for element in int_set:
    string_set.add(str(element))

print(string_set)

{'1', '4', '5', '3', '2'}

In [49]:
# 36. Create a set from a tuple.

# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a set
my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

In [50]:
# 37. Convert a set to a tuple.

# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

In [51]:
# 38. Find the maximum value in a set.

# Create a set
my_set = {10, 20, 30, 40, 50}

# Find the maximum value in the set
max_value = max(my_set)

print("Maximum value in the set:", max_value)

Maximum value in the set: 50

In [52]:
# 39. Find the minimum value in a set.

# Create a set
my_set = {10, 20, 30, 40, 50}

# Find the minimum value in the set
min_value = min(my_set)

print("Minimum value in the set:", min_value)

Minimum value in the set: 10

In [53]:
# 40. Create a set from user input.

# Get user input as a string
user_input = input("Enter elements separated by spaces: ")

# Split the input string into a list of elements
input_list = user_input.split()

# Convert the list of elements to a set
user_set = set(input_list)

# Print the resulting set
print("Set created from user input:", user_set)

Enter elements separated by spaces:  ravi kumar pal

Set created from user input: {'kumar', 'ravi', 'pal'}

In [54]:
# 41. Check if the intersection of two sets is empty.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Check if the intersection is empty
if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is not empty.

In [55]:
# 42. Create a set of the first 5 Fibonacci numbers.

# Function to generate Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    while len(fibonacci_set) < n:
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

# Print the set
print(first_5_fibonacci)

{0, 1, 2, 3, 5}

In [56]:
# 43. Remove duplicates from a list using sets.

# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5, 5]

# Remove duplicates using a set
my_list_without_duplicates = list(set(my_list))

# Print the list without duplicates
print(my_list_without_duplicates)

[1, 2, 3, 4, 5]

In [57]:
# 44. Check if two sets have the same elements, regardless of their count.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets have the same elements (order doesn't matter)
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [58]:
# 45. Create a set of the first `n` powers of 2.

n = 5  # Change this to the desired number of powers

# Create an empty set to store the powers of 2
powers_of_2 = set()

# Calculate and add the powers of 2 to the set
for i in range(n):
    power = 2 ** i
    powers_of_2.add(power)

# Print the set of powers of 2
print(powers_of_2)

{1, 2, 4, 8, 16}

In [59]:
# 46. Find the common elements between a set and a list.

# Create a set
my_set = {1, 2, 3, 4, 5}

# Create a list
my_list = [3, 4, 5, 6, 7]

# Convert the list to a set
list_as_set = set(my_list)

# Find the common elements between the set and the list
common_elements = my_set & list_as_set

# Print the common elements
print(common_elements)

{3, 4, 5}

In [60]:
# 47. Create a set of the first `n` triangular numbers.

# Function to calculate the nth triangular number
def triangular_number(n):
    return n * (n + 1) // 2

# Input the value of n
n = int(input("Enter the value of n: "))

# Create a set to store the triangular numbers
triangular_numbers = set()

# Calculate and add the first n triangular numbers to the set
for i in range(1, n + 1):
    tn = triangular_number(i)
    triangular_numbers.add(tn)

# Print the set of triangular numbers
print("Set of the first", n, "triangular numbers:", triangular_numbers)

Enter the value of n:  5

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [61]:
# 48. Check if a set contains another set as a subset.

# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1
# Using the issubset() method
is_subset = set2.issubset(set1)

# Alternatively, you can use the <= operator
# is_subset = set2 <= set1

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [67]:
# 49. Create a set of alternating 1s and 0s of length `n`.

# Define the length of the set
n = 10

# Create a set of alternating 1s and 0s
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

# Print the resulting set
print(alternating_set)

{0, 1}

In [68]:
# 50. Merge multiple sets into one.

# Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union() method
merged_set = set1.union(set2).union(set3)

# Alternatively, you can use the | operator:
# merged_set = set1 | set2 | set3

# Print the merged set
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}